services:

  q2proded:
    image: q2proded:r3832
    build:
      context: ./q2proded
      platforms:
        - linux/amd64
        - linux/arm64

  q2admin-kmod:
    image: q2admin-kmod:1.17.51-kmod
    build:
      context: ./q2admin-kmod
      platforms:
        - linux/amd64
        - linux/arm64

  q2admin-kmod-gdb:
    image: q2admin-kmod:1.17.51-kmod-gdb
    build:
      context: ./q2admin-kmod-gdb
      platforms:
        - linux/amd64
        - linux/arm64

  dday-old-vibes:
    image: dday-old-vibes:4.6k-4
    build:
      context: ./dday-old-vibes
      platforms:
        - linux/amd64
        - linux/arm64

  ddaycl-dll:
    image: ddaycl-dll:5.045
    build:
      context: ./ddaycl-dll
      platforms:
        - linux/amd64
        - linux/arm64

  ddaycl-dll-gdb:
    image: ddaycl-dll:5.056-gdb
    build:
      context: ./ddaycl-dll-gdb
      platforms:
        - linux/amd64
        - linux/arm64

  ddaychile-release:
    image: ddaychile-release:5.062
    build:
      context: ./ddaychile-release
      platforms:
        - linux/amd64
        - linux/arm64

  fullspeed:
    image: dday-old-vibes:latest
    restart: always
    volumes:
      - ./fullspeed/maps:/usr/local/share/q2pro/dday/maps
      - ./fullspeed/files:/home/ubuntu/.q2pro/dday
    stdin_open: true
    tty: true
    network_mode: host
    logging:
      driver: "json-file"
      options:
        max-size: "10M"
        max-file: 100

  dday5-server:
    image: ddaycl-dll:latest
    restart: always
    volumes:
      - ./dday5-server/maps:/usr/local/share/q2pro/dday/maps
      - ./dday5-server/files:/home/ubuntu/.q2pro/dday
    stdin_open: true
    tty: true
    network_mode: host
    logging:
      driver: "json-file"
      options:
        max-size: "10M"
        max-file: 100
